// Footer
.footer-container {
  position: fixed;
  left: 0;
  height: 6rem;
  bottom: 0;
  width: 100%;
  background: radial-gradient(circle at bottom, rgb(0, 0, 0) 0, rgb(255, 255, 255) 100%);
  color: black;
  text-align: center;
}

.Narans-dev-info {
  color: white;
}

.dev-team {
  color: red;
  margin-top: .05rem;
  display: flex;
  justify-content: center;
}
.footer-dev-info {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  padding: 0px 5px;
}
