
// Madlibs Index

.madlibs-index-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 5rem;
}

.madlib-index-header {
  font-size: xx-large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(91, 95, 93);
  border-bottom: 0.125rem solid;
  margin-bottom: 1rem;
}

.madlibs-index-titles a{
  text-decoration: none;
}


.madlibs-title-container {
  font-size: x-large;
  // font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-family: fantasy;
}

.madlibs-title-container a{
  text-decoration: none;
}

.madlib-title-link {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 5px;
  border-radius: 10px;
  border-color: rgba(11, 190, 8, 0.827);
  border-style: double;
  background-color: rgb(7, 98, 24);
  color: white;
  padding: 20px;
  width: 25rem;
  transition: 325ms;
}
.madlib-title-link:hover {
  transform: scale(1.15);
  background-color: white;
  color: rgb(66, 197, 101);
}

// .madlib-index-info {
//   display: flex;
//   justify-content: space-around;
//   font-size: small;
//   border-style: groove;
//   border: 10px;
//   border-color: #080710;
// }

.madlib-index-author {
  font-size: small;
  display: flex;
  float: right;
  flex-direction: column;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0;
}

.madlib-index-rating {
  font-size: small;
  display: flex;
  text-align: center;
  margin-right: 20rem;
  margin-top: 1rem;
  margin-bottom: 0;
}




// Create Madlib Form



.madlib-compose-container {
  display: flex;
  justify-content: space-around;

  margin-top: 2rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

@media screen and (max-width: 1060px) {
  .madlib-compose-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.madlib-compose-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 5px;
  border-style: groove;
  border-radius: 10px;
  border-color: blue;
  background-color: aqua;
  padding: 2rem;
  margin-bottom: 2rem;
  width: 25rem;
  font-weight: bold;
  transition: 325ms;
}
.madlib-compose-form:hover {
  transform: scale(1.05);
  cursor: crosshair;
}

.madlib-compose-textarea {
  height: 5rem;
  width: 15rem;
  background-color: navy;
  color: white;
  font-weight: bold;
}

.create-madlib-here {
  font-size: 25px;
  font-weight: bold;
  line-height: 25px;
  margin-top: 10px;
  margin-bottom: 3rem;
  text-align: center;
}

.madlib-compose-title {
  display: block;
  height: 50px;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
}

.madlib-compose-body {
 margin-bottom: 1rem;
 display: flex;
 justify-content: center;
}

.madlib-compose-submit-button {
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 10px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 5px;
  margin-bottom: 10px;
}
.madlib-compose-submit-button:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.madlib-compose-errors {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  text-align: center;
  color: red;
  font-size: small;
  font-weight: bold;
}




// Madlibs Box

.madlib-box-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 5px;
  border-style: groove;
  border-radius: 10px;
  border-color: blue;
  background-color: aqua;
  padding: 2rem;
  margin-bottom: 2rem;
  width: 25rem;
  transition: 325ms;
}
.madlib-box-container:hover {
  transform: scale(1.05);
  cursor: crosshair;
}

.your-madlib {
  font-size: 25px;
  font-weight: bold;
  line-height: 25px;
  margin-top: .5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.madlib-box-title {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  margin-left:.5rem;
}
.madlib-box-body {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  margin-left:.5rem;
  height: 10rem;
  overflow-y: scroll;
}
.p-title, .p-body {
  color: rgb(0, 12, 102);
  text-align: center;
  text-decoration:solid;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: .5rem;
  margin-left: .25rem;
  margin-right: .25rem;
}
.p-title {
  text-decoration: underline;
}

.instructions {
  display: flex;
  font-style: oblique;
  text-decoration: underline;
  margin-top: 8rem;
  margin-bottom: .25rem;
}
.madlib-box-instructions {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: left;
  margin-bottom: 0;
  margin-left: .25rem;
  font-size: x-small;
}




// Madlib Show

.madlib-show-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 10px;
  border-style: groove;
  border-radius: 10px;
  height: 20rem;
  border-color: navy;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 5rem;
  background-color: aqua;
}
.madlib-show-container:hover {
  transform: scale(1.05);
  cursor: crosshair;
}

.madlib-show-title {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 1rem;
  text-align: center;
  border-style: groove;
  font-weight: bold;
  text-decoration: underline;
}

.madlib-auth-buttons {
  display: flex;
  flex-direction: column;
}

.edit-button, .play-button, .delete-button {
  background-color: white;
  color: navy;
  width: 25rem;
  height: 2.5rem;
  border: navy;
  border-style: groove;
  border-radius: 10px;
  margin-top: .25rem;
  margin-bottom: .25rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
.edit-button:hover, .play-button:hover, .delete-button:hover {
  transform: scale(1.05);
  background-color: navy;
  border-color: white;
  color: white;
  cursor: pointer;
}



// Madlib Play

.madlib-play-container {
  display: flex;
  // flex-direction: column;
  justify-content: space-around;
  text-align: center;
  margin-top: 2.5rem;
}

.madlib-play-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 5px;
  border-style: groove;
  border-radius: 10px;
  border-color: blue;
  background-color: aqua;
  padding: 2rem;
  margin-bottom: 20rem;
  width: 25rem;
}
.madlib-play-form:hover {
  transform: scale(1.05);
  cursor: crosshair;
}

.madlib-play-input {
  height: 1.5rem;
  margin-bottom: 1rem;
  background-color: navy;
  color: white;
  font-weight: bold;
}

.madlib-play-fillin-btn, .madlib-play-quit-btn, .madlib-play-finish-btn, .madlib-play-replay-btn {
  background-color: white;
  color: navy;
  width: 25rem;
  height: 2.5rem;
  border: navy;
  border-style: groove;
  border-radius: 10px;
  margin-top: .25rem;
  margin-bottom: .25rem;
  // margin-left: 2rem;
  margin-right: 2rem;
  font-weight: bold;
}
.madlib-play-fillin-btn:hover, .madlib-play-quit-btn:hover, .madlib-play-finish-btn:hover, .madlib-play-replay-btn:hover {
  transform: scale(1.05);
  background-color: navy;
  border-color: white;
  color: white;
  cursor: pointer;
}


// Madlib Rating
.rating, .rating-dropdown {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: whitesmoke;
  border: 5px;
  border-radius: 5px;
  border-style: groove;
  border-color: aqua;
  background-color: navy;
  max-height: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  font-weight: bold;
}
.rating-dropdown:hover {
  transform: scale(1.05);
}

.rating-submit {
  margin-left: 1rem;
  background-color: white;
  color: navy;
  height: 2rem;
  border: navy;
  border-style: groove;
  border-radius: 10px;
  margin-top: .25rem;
  margin-bottom: .25rem;
  margin-left: 2rem;
  margin-right: 2rem;
  font-weight: bold;
}
.rating-submit:hover {
  transform: scale(1.05);
  background-color: navy;
  border-color: white;
  color: white;
  cursor: pointer;
}