.madlib-show-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 10px;
  border-style: groove;
  border-radius: 10px;
  height: 20rem;
  border-color: navy;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 2rem;
  background-color: aqua;
}

.madlib-show-title {
  font-size: 25px;
  font-weight: 500;
  line-height: 25px;
  margin-top: 10px;
  margin-bottom: 3rem;
  text-align: center;
}

.madlib-auth-buttons {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin-right: 20rem;
}


