// Header
.header {
  padding: 2.5rem;
  text-align: center;
  background: radial-gradient(circle at top, rgb(0, 0, 0) 0, rgb(255, 255, 255) 100%);
  color: white;
}
.header h1 {
  font-size: 40px;
}
.header-h1-link {
  color: white;
}
.header-h1-link:hover {
  color: aqua;
}

.navbar-container {
  overflow-y: hidden;
  background-color: black;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}


.users-madlibs {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-weight: bold;
}
.users-madlibs:hover {
  background-color: #ddd;
  color: black;
}


.create-madlib {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-weight: bold;
}
.create-madlib:hover {
  background-color: #ddd;
  color: black;
}


.signup {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-weight: bold;
}
.signup:hover {
  background-color: #ddd;
  color: black;
}


.login {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-weight: bold;
}
.login:hover {
  background-color: #ddd;
  color: black;
}

.logout {
  float: right;
  margin-top: .4rem;
  margin-right: 3rem;
  background-color: whitesmoke;
  color: black;
  border-radius: 5px;
  padding: 5px;
  width: 75px;
  font-weight: bold;
}
.logout:hover {
  opacity: 0.8;
  cursor: pointer;
}


// Footer
.footer-container {
  padding: 1rem;
  // margin-top: 2.5rem;
  height: 5rem;
  bottom: 0;
  width: 100%;
  background: radial-gradient(circle at bottom, rgb(0, 0, 0) 0, rgb(255, 255, 255) 100%);
  color: black;
  margin-bottom: 0;
  position: fixed;
}

.dev-info-container {
  display: flex;
  justify-content: space-around;
  // margin-bottom: 2rem;
  padding-bottom: 2rem;
  font-style: bold;
}

.portfolio-site:hover {
  color: blue;
}

.Duncan, .Naran, .Mike{
  color: black;
  border: 5px;
  border-radius: 2rem;
  border-color: blue;
  background-color: aqua;
  border-style: groove;
  padding: 10px 10px;
  margin-bottom: 2.5rem;
  width: 10rem;
  text-align: center;
}
.Duncan:hover, .Naran:hover, .Mike:hover {
  transform: scale(1.25);
  cursor: crosshair;
}

.dev-links {
  display: flex;
  justify-content: space-around;
  padding-top: .5rem;
}
.github:hover, .angel-list:hover, .linkedin:hover {
  transform: scale(1.25);
  cursor: pointer;
}

