// Header
.navbar-container {
  left: 0;
  height: 5rem;
  top: 0;
  width: 100%;
  background: radial-gradient(circle at bottom, rgb(0, 0, 0) 0, rgb(255, 255, 255) 100%);
  color: rgb(255, 3, 3);
  text-align: center;
}

.navbar-text {
  color: white;
  margin-right: auto;
  margin-top: 2rem;
  font-size: large;
}
.navbar-text:hover {
  color: red;
}

// .navbar-buttons {
//   padding-left: 2px;
//   text-align: left;
//   margin-bottom: 2rem;
// }

.navbar-logout {
  background-color: navy;
  color: white;
  margin-right: 2rem;
  float: right;
  top:0;
  right:0;
}
.navbar-logout:hover {
  background-color: aqua;
  color: black;
}

.navbar-users-madlibs {
  color: black;
  font-size: small;
}
.navbar-users-madlibs:hover {
  color: red;
}

.navbar-users-profile {
  color: black;
  font-size: small;
}
.navbar-users-profile:hover {
  color: red;
}

.navbar-create-madlib {
  color: black;
  font-size: small;
}
.navbar-create-madlib:hover {
  color: red;
}

.navbar-links-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 2rem;
  float: left;
  color: black;
  font-size: small;
  top: -0.5rem;
}

.navbar-signup-login-btns {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 2rem;
  float: left;
  color: black;
  font-size: small;
  top: -0.5rem;
}
.navbar-signup:hover {
  background-color: aqua;
  color: black;
}
.navbar-login:hover {
  background-color: aqua;
  color: black;
}




