// Header
.navbar-container {
  left: 0;
  height: 4rem;
  top: 0;
  width: 100%;
  background: radial-gradient(circle at bottom, rgb(0, 0, 0) 0, rgb(255, 255, 255) 100%);
  color: rgb(255, 3, 3);
  text-align: center;
}

.navbar-text {
  color: white;
  margin-right: auto;
}

.navbar-buttons {
  padding-left: 2px;
  padding-right: 8px;

}

