// Header
.header {
  padding: 50px;
  text-align: center;
  background: radial-gradient(circle at top, rgb(0, 0, 0) 0, rgb(255, 255, 255) 100%);
  color: white;
}
.header h1 {
  font-size: 40px;
}
.header-h1-link {
  color: white;
}
.header-h1-link:hover {
  color: aqua;
}

.navbar-container {
  overflow: hidden;
  background-color: black;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}


.users-madlibs {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}
.users-madlibs:hover {
  background-color: #ddd;
  color: black;
}


.create-madlib {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}
.create-madlib:hover {
  background-color: #ddd;
  color: black;
}


.signup {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}
.signup:hover {
  background-color: #ddd;
  color: black;
}


.login {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}
.login:hover {
  background-color: #ddd;
  color: black;
}

.logout {
  float: right;
  margin-top: .4rem;
  margin-right: 3rem;
  background-color: whitesmoke;
  color: black;
  border-radius: 5px;
  padding: 5px;
  width: 75px;
}
.logout:hover {
  opacity: 0.8;
  cursor: pointer;
}

