// Login Form
.login-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.login-form, .signup-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 5px;
  border-style: groove;
  border-radius: 10px;
  border-color: rgba(11, 190, 8, 0.827);
  background-color: rgb(7, 98, 24);
  color: white;
  padding: 5rem;
  height: 25rem;
  width: 20rem;
  transition: 325ms;
}
.login-form:hover, .signup-form:hover {
  transform: scale(1.05);
  background-color: white;
  color: rgb(66, 197, 101);
}

.login-here, .signup-here {
  font-size: 25px;
  font-weight: 500;
  line-height: 25px;
  margin-top: 0;
  margin-bottom: 1.5rem;
  text-align: center;
  font-weight: bold;
  // color: #01481f;
}

.login-form-email, .login-form-password, .signup-form-handle, .signup-form-email, .signup-form-password {
  // display: block;
  // height: 50px;
  // width: 100%;
  // background-color: rgba(255,255,255,0.07);
  // border-radius: 3px;
  // padding: 0 10px;
  // margin-top: 8px;
  // font-size: 14px;
  // font-weight: 300;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.login-button, .signup-button {
  margin-top: 50px;
  width: 100%;
  background-color: #ffffff;
  color: rgb(7, 98, 24);
  border-color: rgb(66, 197, 101);
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: .5rem;
  transition: 325ms;
}
.login-button:hover, .signup-button:hover {
  transform: scale(1.05);
  color: white;
  background-color: rgb(7, 98, 24);
}


// @media Session Forms & Buttons
.session-form-errors {
  display: flex;
  justify-content: center;
  text-align: center;
  color: red;
  font-size: small;
  font-weight: bold;
}

.demoLogin {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-weight: bold;
  margin-top: 2.5rem;
}
.demoLogin-btn {
  margin-top: 1rem;
  height: 2rem;
  border-radius: 5px;
  border-color: rgb(66, 197, 101);
  color: rgb(7, 98, 24);
  font-weight: bold;
  transition: 325ms;
}
.demoLogin-btn:hover {
  transform: scale(1.05);
  cursor: pointer;
  background-color: rgb(7, 98, 24);
  color: white;
}

@media screen and (max-width: 800px) {
  .signup-form-container, .login-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .demoLogin {
    margin-top: 1rem;
    margin-left: 0;
  }
}


// Signup Form
.signup-form-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 15rem;
}